body {
  background-color: black;
  color: white;
}

.colorPickerContainer {
  display: flex;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}

.colorPickerColor {
  width: 70px;
  height: 70px;
  border: 5px solid black;
  border-radius: 30px;
  margin-bottom: 5px;
}

.createdButtonColor {
  width: 10px;
  height: 10px;
}

.selectedColor {
  border: 5px solid white;
}

.colorCOLOR1 {
  background-color: #ffce2f;
}

.colorCOLOR2 {
  background-color: #df9800;
}

.colorCOLOR3 {
  background-color: #ad0000;
}

.colorCOLOR4 {
  background-color: #885300;
}

.colorCOLOR5 {
  background-color: #008883;
}

.colorCOLOR6 {
  background-color: #001a9f;
}

.colorCOLOR7 {
  background-color: #29da00;
}

.colorCOLOR8 {
  background-color: #136700;
}

.addButton {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 5px solid white;
  border-radius: 30px;
  margin-top: 30px;
}

.ticketValueCreatorContainer {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}

.ticketValueCreatorContainer input {
  text-align: center;
  font-size: 2em;
  width: 50vw;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  margin-bottom: 20px;
}

.currentValuesContainer {
  margin-top: 20px;
}

.createdButtonColor {
  display: inline-block;
  height: 0.7em;
  width: 2em;
}

.runningCount {
  width: 72vw;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  margin-top: 20px;
  border: 15px solid white;
  border-radius: 35px;
  padding: 5vw;
  font-size: 4em;
}

.valueButtonContainer {
  display: flex;
  margin-top: 5vw;
  width: 95vw;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.valueButton {
  width: 25vw;
  padding: 5vw;
  border: 5px solid white;
  border-radius: 35px;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.resetButton {
  width: 43vw;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  border-radius: 35px;
  padding: 13px;
  text-align: center;
  font-size: 1.5em;
  margin-top: 3vw;
}
