body {
  background-color: black;
  color: white;
}

/* SECTIONS */

.ticketValueCreatorContainer {
  width: 100vw;
  text-align: center;
  font-size: 1.5em;
}

.ticketValueContainer {
  height: 19vh;
  padding: 3vh;
}

.ticketColorContainer {
  height: 25;
  padding: 3vh;
}

.currentValuesContainer {
  height: 35vh;
}

.addButtonContainer {
  height: 10vh;
}

/* SUBSECTIONS */

.colorPickerContainer {
  display: flex;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

/* ELEMENTS */

.ticketValueCreatorContainer input {
  text-align: center;
  font-size: 2em;
  width: 50vw;
  border-radius: 20px;
  border: none;
  padding: 1vh 3vw;
  margin-top: 2vh;
}

.colorPickerColor {
  width: 100%;
  border: 3px solid black;
  border-radius: 30px;
  margin-left: 5px;
}

.colorPickerColor:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.colorPickerColor.selectedColor {
  border: 3px solid white;
}

.createdButtonColor {
  width: 10px;
  height: 10px;
}

.createdButtonColor {
  display: inline-block;
  height: 0.7em;
  width: 2em;
}

.addButton {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 30px;
}

.currentValuesLabelsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}
/* CALCULATOR */

.runningCount {
  width: 72vw;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  margin-top: 1vh;
  border: 15px solid white;
  border-radius: 35px;
  padding: 5vw;
  font-size: 4em;
}

.valueButtonContainer {
  display: flex;
  margin-top: 5vw;
  width: 95vw;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.valueButton {
  width: 25vw;
  padding: 5vw;
  border: 5px solid white;
  border-radius: 35px;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.resetButtonContainer {
  height: 10vh;
}

.resetButton {
  width: 43vw;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  border-radius: 35px;
  padding: 1vh;
  text-align: center;
  font-size: 1.5em;
  margin-top: 3vw;
}
